/* global styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: 12px;
    appearance: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --aside-clr: #4f46e5;
    --main-bg-clr: #e2e8f0;
    --card-left-border-clr: #f0b429;
    --card-divider-clr: #e8e8e8;
    --border-padding: 15px;
}

/* General layout */

body {
    display: grid;
    height: auto;
    grid-template-rows: 2fr 14fr;
    grid-template-columns: minmax(2fr, 3fr) 12fr;
}

h1 {
    font-size: 2.5rem;
}

.h1-img {
    width: 3rem;
    height: 3rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
}

li {
    list-style: none;
}

aside {
    --li-font-size: 2rem;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: var(--aside-clr);
    color: #fff;
    padding: 0 2rem;

    align-items: center;
    grid-template-rows: 2fr 4fr 4fr 10fr;
    row-gap: 1rem;
}

aside div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

aside li {
    user-select: none;
    font-size: var(--li-font-size);
}

aside ul div img {
    width: var(--li-font-size);
    height: var(--li-font-size);
}

.main-links {
    grid-row: 2 / 3;
}

.extra-links {
    grid-row: 3 / 4;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0 3rem;
    box-shadow: 0px 1px 10px 0px grey;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header button,
.magnifier {
    border: none;
}

header>div {
    display: grid;
    flex: 1;
}

.search-panel {
    grid-template-columns: 1fr 10fr 4fr 1fr 1fr 2fr;
    column-gap: 1rem;
    align-items: center;
}

.search-panel>*:not(#search-input) {
    justify-self: center;
}

.magnifier,
.search-panel button {
    width: 3rem;
    height: 3rem;
}

.magnifier {
    grid-column: 1 / 2;
}

#search-input {
    grid-column: 2 / 3;
    height: 2rem;
    padding: 1rem;

    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
}

.profile-icon {
    background: none;
}

.profile-icon img {
    width: 100%
}

.bell {
    background: none;
    grid-column: -4 / -3;
}

.bell img {
    width: 80%;
}

.search-panel .profile-icon {
    grid-column: -3 / -2;
}

.account-actions {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

.account-actions>div:first-child {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;

    justify-self: start;
}

.account-actions>div:first-child>button {
    width: max(5rem);
    height: max(5rem);
    border-radius: 100%;
}

.name-and-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account-action-buttons {
    grid-column: -1 / -2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.account-action-buttons>button {
    width: 10rem;
    height: 4rem;
    border-radius: 20px;
    font-size: 1.4rem;
    border: none;
    background-color: var(--aside-clr);
    color: #fff;
}

main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--main-bg-clr);
    padding: 3rem;
    column-gap: 5%;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1 / -1;
}

.project-cards {
    display: grid;
    height: max(90%);
    width: 100%;
    padding: 1rem;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 4rem;
    column-gap: 2rem;
}

.project-card {
    display: grid;
    grid-template-rows: 4fr 1fr;
    background-color: #ffffff;
    border-radius: 10px;

    border-left: var(--card-left-border-clr) var(--border-padding) solid;
    padding: calc(var(--border-padding)+2rem);
}

.project-card-text {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 1rem;
}


.card-actions {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 2rem;
}

.start-reading {
    width: auto;
    height: 3rem;
    padding: 0 1rem;

    border-radius: 15px;
    border: none;
    background-color: var(--aside-clr);
    color: var(--main-bg-clr);
}

.star,
.view,
.fork {
    width: 2rem;
    height: 2rem;
    border: none;

    background-position: center;
    background-repeat: no-repeat;
}

.star {
    background: url('images/star-outline.png');
    background-size: contain;
}

.view {
    background: url('images/eye-plus-outline.png');
    background-size: contain;
}

.fork {
    background: url('images/source-fork.png');
    background-size: contain;
}

.announce-and-trending {
    grid-row: 1 / -1;
    grid-template-rows: 1fr 1fr;

    display: flex;
    flex-direction: column;
    gap: max(5rem);
}

.announcements {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    gap: 3rem;
}

.announcement-card {
    background-color: #fff;
    padding: 1rem;
}

.announcement-card p {
    margin-top: 1rem;
    width: 80%;
}

.announcement-card:not(.announcement-card:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 1rem;
    background-color: var(--card-divider-clr);
}

.trending {
    grid-row: 2 / 3;
}

.trending>h3 {
    margin-bottom: 2rem;
}

.trending-card {
    display: flex;
    gap: 2rem;
    background-color: #fff;
    padding: 1.5rem;
}

.trending-card div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.trending-card img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

/* Accessibility styles */

button:hover,
img:hover,
aside li:hover,
h1:hover {
    filter: brightness(85%);
    scale: 101%;
}

.card-actions button:not(.start-reading):hover,
.magnifier:hover {
    filter: brightness(85%);
    scale: 108%;
}

button:active,
img:not(img+li):active,
aside li:active,
.card-actions button:active,
.magnifier:active {
    filter: brightness(90%);
    scale: 100%;
}

/* Media quaries */

@media (max-width: 1700px) {

    aside img:not(img + h1) {
        width: 2.5rem;
        height: auto;
    }

    aside div {
        gap: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    aside li {
        font-size: 1.3rem;
    }
}

@media (max-width: 1100px) {

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .search-panel {
        grid-template-columns: 1fr 6fr 1fr 1fr 1fr 2fr;
    }

    .account-actions {
        grid-template-columns: 2fr 2fr;
    }

    .account-action-buttons button {
        width: 8rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}